body {
  margin-bottom: 500px;
}
.div1 {
  width: 100%;
  height: 70px;
  display: flex;
  margin-bottom: 0px;
}

#imgDiv {
  width: 6%;
  height: 100%;
}

#search {
  width: 30%;
  /* border: 1px solid orange; */
}

#download {
  display: flex;
  width: 20%;
  height: 100%;
  margin-top: 10px;
  justify-content: right;
  margin-left: 10%;
  /* border: 1px solid red; */
}
#Supplier {
  width: 16%;
  /* border: 1px solid red; */
  text-align: center;
  margin-top: 10px;
}
#profile {
  width: 10%;
  /* border: 1px solid red; */
  text-align: center;
}

#cart {
  width: 10%;
  /* border: 1px solid red; */
  text-align: center;
}

#search > input {
  width: 93%;
  height: 40%;
  margin-top: 5px;
  padding: 14px;
  border: 1px solid #aaa;
  border-radius: 5px;
}

.div1 > img {
  height: 100%;
}

#downloadImgDiv {
  width: 20%;
}
#downloadTextDiv {
  width: 60%;
}

.firstBannerPlayStore {
  width: 75%;
  height: 370px;
  margin: auto;
  margin-top: 50px;
  display: flex;
}

.TopCategoriesSeperator {
  /* border: 1px solid red; */
  width: 75%;
  margin: auto;
  margin-top: 20px;
  height: 70px;
  display: flex;
}

.fashionStore {
  width: 75%;
  height: 450px;
  margin: auto;
  margin-top: 20px;
  background-color: #fce1d1;
  border-radius: 5px;
  display: flex;
}

/* div1 subdives */

#playLeftBanner {
  width: 50%;
  height: 100%;
  background-color: #f9f9f9;
  border-radius: 5px;
}
#rightModelsBanner {
  border-radius: 5px;
  width: 50%;
  height: 100%;
}

.TopCategoriesSeperator > div {
  width: 50%;
  height: 100%;
  /* border: 1px solid red; */
  margin: auto;
}

#HrLineCategoriesSeperator {
  width: 25%;
  /* border: 1px solid #f43397; */
  height: 2px;
}

#fashionStoreLeftDiv {
  /* border: 1px solid red; */
  padding: 15px;
  width: 35%;
}
#fashionStoreRightDiv {
  /* border: 1px solid red; */
  padding: 12px;
  width: 65%;
}
#fashionStoreRightDiv > div {
  display: flex;
  /* border: 1px solid red; */
  height: 60%;
}

/* div1 subdiv components */

#H1PlayBanner {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-left: 40px;
  margin-top: 50px;
}
#FiftyLakh {
  margin-top: 30px;
  margin-left: 50px;
  height: 60px;
  width: 65%;
  padding-left: 25px;
  background-color: white;

  border-radius: 10px;
}
#FiftyLakh > p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

  color: #9c8378;
  padding-top: 15px;
  font-size: 19px;
}

#playLeftBanner > input[type="submit"] {
  width: 60%;
  cursor: pointer;
  height: 50px;
  margin-left: 40px;
  margin-top: 25px;
  font-size: 18px;
  color: white;
  border: 0;
  border-radius: 5px;
  background-color: #f43397;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

#H1Seperator {
  text-align: center;
}
#H1Seperator > h1 {
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: bold;
}

#rightModelsBanner > img {
  border-radius: 5px;
}

#imgLeftfashionStore {
  margin-top: 14%;
  width: 100%;
  height: 100%;
  border-radius: 2px;
  cursor: pointer;
}

.imgLeftDivfashionStore {
  /* border: 1px solid greenyellow; */
  width: 80%;
  height: 60%;
}
.westernWearMensWear {
  /* border: 1px solid black; */
  display: flex;
}
#fashionStoreRightDiv > div > div {
  margin-left: 25px;
  cursor: pointer;
}
#fashionStoreRightDiv > div > div > img {
  border-radius: 2px;
}

/* home Care */

.homeCare {
  width: 75%;
  height: 450px;
  margin: auto;
  margin-top: 50px;
  background-image: url("https://media.designcafe.com/wp-content/uploads/2020/03/21013220/white-walls-simple-living-room-ideas.jpg");
  border-radius: 5px;
  /* border: 1px solid black; */
  display: flex;
}
.homeCare > div {
  /* border: 1px solid red; */
  width: 20%;
  margin: auto;
  height: 80%;
  text-align: center;
}
.homeCare > div:nth-child(1) {
  /* border: 1px solid red; */
  width: 35%;
  height: 80%;
}
.homeCare > div:nth-child(1) > h1 {
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #038d63;
  margin-top: 50px;
}
#homeCareButton1 {
  color: #f1feff;
  background-color: #038d63;
  border: 0;
  border-radius: 5px;
  font-size: 17px;
  height: 50px;
  margin-top: 20px;
  padding: 12px;
  width: 150px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
}

#otherDivHomeCare {
  /* border: 1px solid red; */
  width: 20%;
  margin: auto;
  height: 80%;
  text-align: center;
}

#subOtherImgDivHomeCare {
  border: 7px solid #cdedde;
  height: 80%;
}

#OtherButtonDivHomeCare {
  color: #4ba9b4;
  background-color: white;
  border: 0;
  border-radius: 5px;
  font-size: 17px;
  height: 45px;
  margin-top: 12px;
  padding: 12px;
  width: 150px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
}
