*{
    /* margin: 0px;
    padding: 0px; */
   
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif     
  }




.shop-item{
    display: flex;
    width: 80%;
    /* border: 1px solid red; */
    height: 650px;
    margin: auto;
}
.item-img{
    width: 50%;
   
    margin-right: 3%;
    border-radius: 5px;
    
}
.prod-img{
    display: flex;
    padding: 10px;
    border-radius: 5px;
}
.prod-img>.small-img>img{
    height: 60px;
    width: 60px;
    border-radius: 5px;
    border: 1px solid red;
    margin-right: 10px;
}
    .prod-img>.original-img{
        border: 1px solid #e3e3e3;            
    height: 473px;
    width: 452px;
    
   
    

}
.prod-img>.original-img>img{
    height: inherit;
   margin-left: 15px;
   align-items: stretch;
   padding: 2px;
    
    

}
.btn-cont{
    margin-left: 70px;
    width:50%;
    margin-top: 20px;
    
}
.btn-cont>#cart-btn{
   color: white;
    background-color: #f43397;
    width: 430px;
    height: 50px;
    border-radius: 5px;
    border: 0px;
    font-size: 20px;
    word-spacing: 2px;
    /* margin: auto; */
}
.btn-cont>.line{
    width:425px;
    color: black;
    border-bottom: 2px solid #eee;
    margin-top: 20px;
}
.similar-cont>p{
    text-align: left;
    font-weight:bold;
    font-size: 25px;
    margin-left: 75px;
}
.similar-img{
    display: flex;
    margin-top: 25px;
    margin-left: 95px;
   

}
.similar-img>div>img{
    margin-left: 12px;
    border: 2px solid #f43397;
    border-radius: 5px;
    
}





/* here the item info */
.item-info{
    width: 548px;
    height: 196px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
  width: 50%;
  margin-top: 9px;
  padding-left: 9px;
    
}
.item-info>.title{
    color: #999999;
    font-size: 18px;
    font-weight: 600;
 height: 70px;
 margin-bottom: -30px;

}


.price{
 
   
    display: flex;
   width: 100%;
   margin-top: 5px;
   margin-bottom: 15px;
  
   align-items:stretch;
   height: 40px;
}

.price>.main-price{
    margin-left: 18px;
    
}
.price>.line-price{
    text-decoration: line-through;
    justify-content: center;
    margin-left: 15px;
    margin-top: 12px;
    color: #999999;
}
.disc>p{
    font-size: 16px;
    color: #666666;
}
.del>p{
    font-size: 12px;
    color: #666666;
    background-color: #e3e3e3;
    width: max-content;
    border-radius: 5px;
    font-weight: bold;
}
.price>.off{
    font-size: 18px;
    color: #038d63;
    margin-left: 25px;
    margin-top: 5px;
    
}
.size-cont{
    height: 135px;
    width: 535px;
    border: 1px solid #e3e3e3;
    border-radius: 5px;
    margin-top: 45px;
    padding-left: 15px;
}
.item-size{
    display: flex;
   
}
.item-size>div>p{
    background-color: transparent;
    border: 1px solid rgb(87, 86, 86);
    border-radius: 10px;
    height: 25px;
    width: 35px;
    margin-left: 10px;
    padding-left: 5px;
    
}
.textarea{
    height: 200px;
    width: 310px;
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 40px;
}
.textarea>span{
    font-size: x-small;
}
.sold-cont{
    margin-top: 15px;
    height: 215px;
    width: 549px;
    border: 1px solid #e3e3e3;
    

}
.sold-cont>h2{
    margin-left: 10px;
}
.name{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    grid-template-rows: repeat(1,250px);
}
.name>div{
    margin-left: 10px;
    width: 90%;
}
h4,h5{
    margin-left: 20px;
}
.name>div>a>button{
    border: 1px solid #f43397;
    background-color: white;
    color: #f43397;
    width: 120px;
    height: 30px;
    border-radius: 5px;
}
.name>div>button{
    border: 1px solid blue;
    border-radius: 10px;
    color: blue;
    width: 50px;
    font-size: large;
}